html, body, header, p, div, ul, li, a {
    font-size: 16px;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: hsla(0, 0%, 100%, 100%);
    background-color: hsla(0, 0%, 20%, 100%);
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.orange {
    color: hsla(30, 100%, 50%, 100%);
}

h1, h2, h3, h4 {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    /* display: none; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.25rem;
    z-index: 10;
    border-bottom: 1px solid hsla(0, 0%, 100%, 50%);
}

.logo {
    position: relative;
    left: 5%;
    padding-top: 0.2rem;
}

.logo h2 {
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0;
}

.logo h3 {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8;
}

nav {
    display: flex;
    justify-content: center;
    position: relative;
    top: -2.4rem;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    padding: 0 0.75rem;
}

nav a {
    font-size: 1.125rem;
    color: hsla(30, 100%, 50%, 100%);
}

nav a:hover {
    color: hsla(0, 0%, 100%, 100%);
}

header h2, h3 {
    margin: 0 0;
}

.section-title {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 700;
    color: hsla(30, 100%, 50%, 100%);
}

#mission {
    /* margin-top: 4.25rem; */
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    text-shadow: #0008 0 0 100px;
    padding: 11.25rem 3rem 7rem;
    background-image: url(../images/katarzyna-pracuch-IzRqHCdzauw-unsplash-1440.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 5;
}

#vision {
    margin: 2rem 7.5%;
    position: relative;
    top: -4.25rem;
    padding-top: 5.25rem;
}

#vision p {
    position: relative;
    top: 2rem;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    text-align: justify;
    margin: 1.5rem;
}

#categories {
    display: flex;
    padding: 2rem 7rem;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    z-index: 4;
}

.cat-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 15rem;
    flex: 1 1 19rem;
    /* width: 23%;
    min-width: 17rem; */
    margin: 0.5rem;
    /* text-align: center; */
    overflow: hidden;
}

.cat-block h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding-top: 20%; */
    font-size: 1.75rem;
    letter-spacing: 2px;
    text-shadow: #000A 1px 1px 9px;
    z-index: 1;
}

.cat-block img {
    max-width: 100%;
    position: relative;
    /* top: -35%; */
}

.cat-block-long img {
    max-height: 100%;
    width: auto;
}

#team {
    background-color: black;
    padding: 5.25rem 5%;
    position: relative;
    top: -4.25rem;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: black;
    padding-top: 3rem;
}

.gallery-cell {
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.gallery-cell .content {
    padding: 0.5rem 0;
    border-radius: 0 0 0.5rem 0.5rem;
}

.gallery-cell h3 {
    margin: 0.75rem 0 0.4rem 1rem;
}

.gallery-cell p {
    margin: 0.4rem 0 0.75rem 1rem;
    font-size: 0.9rem;
    font-weight: 200;
}

.portrait {
    max-height: 300px;
    overflow: hidden;
    border-radius: 0.5rem 0.5rem 0 0;
}

.portrait img {
    max-width: 300px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 2rem;
}

footer p {
    font-size: 0.75rem;
}


@media only screen and (min-width: 535px) and (max-width: 750px) {
    nav {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 534px) {
    html {
        font-size: 12px;
    }

    header {
        min-height: 6rem;    
    }

    .logo {
        left: 1rem;
    }

    nav {
        top: -0.5rem;
    }

    #vision {
        margin: 2rem 1rem;
    }

    #categories {
        padding: 2rem 1rem;
    }

    .cat-block {
        width: 80%;
    }
}

.credits-list {
    margin: 0.75rem;
}

.credits-list li {
    margin: 1rem;
}

.credits-list h3 {
    margin: 2rem 0;
}

.credits-list a {
    color: hsla(30, 100%, 50%, 100%);
}

.credits-list a:hover {
    color: hsla(0, 0%, 100%, 100%);
}